.tab-item {
  list-style-type: none;
  margin-right: 10px;
}

.tab-btn {
  font-family: roboto;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.active-btn {
  border-bottom: 3px solid #fec653;
  color: #fec653;
}
