.score-card-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  width: 100%;
  height: 800px;
  border-radius: 6px;
  background-size: cover;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .score-card-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
    width: 100%;
  }
}

.trophy-image {
  width: 400px;
  height: 400px;
  margin-top: 220px;
}

.your-score {
  font-family: roboto;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 4px;
}

.reset-img {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.play-again-btn {
  display: flex;
  align-items: center;
  background-color: #cf60c8;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: roboto;
  font-size: 18px;
  font-weight: 500;
}

.score-number {
  font-family: roboto;
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 0px;
}
